/********** GENERAL RULES **********/

* {
  box-sizing: border-box;
}

body {
  color: #111;
  font-family: ;
  font-weight: ;
  
  padding-top: 47px;
}

a {
  text-decoration: none;
  color: ;
}

img {
  max-width: 100%;
}

.js-media {
  display: none; /* javascript mediaqueri breakpoint */
}

.svg {
  display: block;
}



/********** COMMON RULES **********/

.wrapper {
  min-height: calc( - );
}

.section h3 {
  font-size: 1.35em;
  text-align: center;
}


/********** NAV-TOP (fixed) **********/

.nav-top {
  position: fixed;
  top: 0;
  left: 0;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  width: 100%;
  padding: 10px 20px;
  background-color: lightcoral;
}

.breadcrumb,
.phone-time {
  display: none;
}

.cart img,
.dropdown img {
  width: 27px;
  height: 27px;
}

/***** dropdown button *****/

.dropdown-content {
  display: none;
  
  position: absolute;
  top: 47px;
  left: 0px;
  
  width: 100%;
  padding:  20px;
  background-color: rgba(255,255,255, .97);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.25);
  z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
  font-weight: 700;
}

.dropdown-btn {
  cursor: pointer;
}

.show {
  display: block; /* app.js addClass to .dropdown-content onclick */
}

/***** phone *****/

.phone p {
  font-size:1.15em
}



/********** HEADER **********/



/***** logo *****/

.logo-box {
  text-align: center;
}

.logo {
  font-size: 3em
}

.logo-text {
  margin-top: -5px;
}


/***** navigation *****/

.nav-main {
  display: none;
}



/********** GALLERY **********/



/********** PROFIT **********/



/********** CLIENTS **********/

.clients ul {
  list-style: none;
  padding-left: 0;
}

/********** MAIN OFFER **********/



/********** ABOUT **********/

.about {
  text-align: center;
}

.about img {
  border-radius: 50%;
  max-width: 200px;
}

/********** FOOTER **********/



/* 404 error */









