/********** Web Fonts **********/

@font-face {
  font-family: 'Wolfganger';
  src: url('../fonts/Wolfganger.otf');
}


/********** GENERAL RULES **********/

* {
  box-sizing: border-box;
}

body {
  color: #111;
  font-family: 'Roboto';
  font-weight: ;
  
  padding-top: 47px;
}

a {
  text-decoration: none;
  color: #111;
}

img {
  max-width: 100%;
}

.js-media {
  display: none; /* javascript mediaqueri breakpoint */
}

.svg {
  display: block;
}



/********** COMMON RULES **********/

.wrapper {
/*  min-height: calc( - );*/
  max-width: 500px; /* mobile size imitation */
  margin: 0 auto;
}

.section {
  margin-top: 30px;
}

.section h3 {
  font-size: 1.35em;
  text-align: center;
}


/********** NAV-TOP (fixed) **********/

.nav-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  width: 100%;
  padding: 10px 20px;
  background-color: rgba(180,180,180,.99);
   -webkit-box-shadow: 0 0 7px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 7px rgba(0,0,0,0.3);
  box-shadow: 0 0 7px rgba(0,0,0,0.3);
}


.breadcrumb,
.phone-time {
  display: none;
}

.breadcrumb p {
  font-size: 0.85em;
}

.cart img,
.dropdown img {
  width: 27px;
  height: 27px;
}

/***** dropdown button *****/

.dropdown-content {
  display: none;
  
  position: absolute;
  top: 47px;
  left: 0px;
  
  width: 100%;
  padding:  20px;
  background-color: rgba(255,255,255, .97);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.25);
  z-index: 1;
}

.dropdown-content a {
    color: #000;
    padding: 5px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
  font-weight: 700;
}

.dropdown-content a:nth-child(6) {
  background-image: url('../img/ico-sample.svg');
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position: 110px center;
}

.dropdown-btn,
.cart-btn,
.phone-number {
  cursor: pointer;
}

/***** cart *****/

.cart-content {
  display: none;
  
  position: absolute;
  top: 47px;
  left: 0px;
  
  width: 100%;
  padding:  20px;
  background-color: rgba(255,255,255, .97);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.25);
  z-index: 1;
}

.cart-content table {
  width: 100%;
}

.show {
  display: block; /* app.js addClass to .dropdown-content onclick */
}

/***** phone *****/

.phone p {
  font-size:1.05em
}


/***** flex grow items *****/


.dropdown {
  flex-grow: 4;
}

.cart {
  flex-grow: 1;
}

.phone {
  flex-grow: 0;
}



/********** HEADER **********/

/***** logo *****/

.logo-box {
  text-align: center;
  padding: 10px 0;
  margin-bottom: 10px;
}

.logo {
  font-family: 'Wolfganger';
  font-size: 3.4em;
}

.logo-text {
  margin-top: -13px;
  letter-spacing: -0.6px;
}


/***** navigation *****/

.nav-main {
  display: none;
}



/********** GALLERY **********/

.gallery {
  position: relative;
}

.arrow {
  position: absolute;
  width: 70px;
  border-radius: 50%;
  background-color: rgba(0,0,0,.07);
  padding: 10px;
  cursor: pointer;
}

.arrow-left {
  top: calc(50% - 35px);
  left: 5%;
}

.arrow-right {
  top: calc(50% - 35px);
  right: 5%;
}

.gallery img {
  display: block;
}

.gallery p {
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 20px 10px;
  background-color: rgba(0,0,0,.25);
  color: rgba(255,255,255,.8);
}



/********** CALL-ME FORM **********/

.call-me {
  margin: 40px 0 0;
}



/********** PROFIT **********/

.profit ul {
  list-style: none;
  padding: 0 20px;
}

.profit ul li {
  padding-bottom: 15px;
  padding-left: 35px;
  background-image: url('../img/ico-done.svg');
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: left top;
}

/********** CLIENTS **********/

.clients {
  padding: 0 10px 20px;
}

.clients ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.clients ul li img {
  max-width: 200px;
  border-radius: 50%;
  margin: 10px;
}

.clients ul li p {
  padding-top: 15px
}

/*before slider apply*/
.clients li:nth-child(n+2) {
  display: none;
}


/********** MAIN OFFER **********/


.main-offer {
  text-align: center;
  padding: 20px 10px;
/*  background-color: rgb(180,180,180);*/
  background: linear-gradient(#3d9114 60%, #86e856);
  color: #fff
}


.main-offer img {
  display: none;
}

/********** INTERNAL LINKS **********/

.internal-links {
  text-align: center;
  margin-top: 20px;
  padding: 0 10px;
}

.internal-links div {
  margin-bottom: 10px
}

.internal-links img {
  max-width: 120px;
  border-radius: 50%;
  padding: 10px
}

.link-header {
  font-weight: 700;
  font-size: 1.7em;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  max-width: 230px;
  margin: 10px auto;
  cursor: pointer;
}

/***** shop *****/

/***** workshop *****/



/********** ABOUT **********/

.about {
  text-align: center;
  padding: 0 10px 20px;
}

.about img {
  border-radius: 50%;
  max-width: 200px;
}



/********** FOOTER **********/

footer {
  text-align: center;
  padding-top: 10px;
}

.footer-phone {
  font-size: 1.13em;
/*  font-weight: 500;*/
  letter-spacing: 2px;

  margin-top: 5px;
/*  text-align: center*/
}

.footer-phone a {
  display: inline-block;
  font-size: 1.3em;
  padding: 0;
  margin: 0;
}

.footer-messengers {
  font-size: 0.8em;
  margin-top: -1px
}

.footer-mail {
  font-size: 1.13em;
  letter-spacing: 0.7px;
  padding: 6px 0;
}

.copyright {
  font-size: 0.75em;
  padding-top: 10px;
}

.developer {
  font-size: 0.75em;
  padding-bottom: 10px;
}


/* 404 error */

/* call-me forms */

.thanks h1 {
  font-size: 1.4em;
  font-weight: 700;
  padding: 10px;
  margin: 30px 0;
  text-align: center;
}

.thanks p {
  font-size: 1.1em;
  margin: 10px 0;
  text-align: center;
}









