/* 320 768 960 1280 1440 */

@media (min-width: 360px) {

  .dropdown {
    flex-grow: 0;
    padding-right: 15px;
  }

  .breadcrumb {
    display: block;
    flex-grow: 10;
  }

  .cart {
    flex-grow: 5;
  }

  .phone {
    flex-grow: 0;
  }
  
  .item-text {
  display: flex;
  position: absolute;
  bottom: 0;
  text-align: center;
  height: 25%;
  background-color: rgba(0,0,0,.75);
  color: rgba(255,255,255,.9);
  
}
  
  
  
}

@media (min-width: 450px) {
  
  .dropdown {
    flex-grow: 0;
    padding-right: 20px
  }

  .cart {
    flex-grow: 5;
  }

  .phone {
    flex-grow: 0;
  }
  
  .portfolio-slider {
    padding: 0 20px
  }
  
  
  
  .item-text {
    height: 20%
  }
  
  .item-text p {
    font-size: 0.9em;
  }
  
}

@media (min-width: 600px) {
  
  #gallery-arr-left,
  #gallery-arr-right {
    display: none;
/*    opacity: 0;*/
  }
    .slider-col1 {
    display: flex;
  }

  .slider-col1, 
  .slider-col2 {
    flex-basis: 50%;
  }
  
    .item-text {
    height: 30%
  }
  
  .item-text p {
    font-size: 0.8em;
  }
}

@media (min-width: 700px) {
  
  .js-media {
    display: inline; /* javascript mediaqueri breakpoint */
  }
  
  #hamburger,
  .breadcrumb {
    display: none;
    
  }
  
  #navigation {
    display: flex;
    align-items: center;
  }
  
  .dropdown {
    flex-grow: 5;
  }
  
    .item-text {
    height: 25%
  }
  
  .item-text p {
    font-size: 0.85em;
  }
  
  
}

@media (min-width: 850px) {
  
  
  
  .dropdown {
    flex-grow: 13;
  }
  
  .phone-time {
    display: inline;
    font-size: 0.75em;
    padding-right: 20px;
    align-self: center
  }
  
    .item-text {
    height: 20%
  }
  
  .item-text p {
    font-size: 0.9em;
  }
  
  
}

@media (min-width: 1000px) {
  .nav-logo {
    display: block;
    padding-right: 20px;
    

  }
  
  
  
  .slider-col3 {
    display: flex;
  }
  
  .slider-col1, 
.slider-col2 {
  flex-basis: 40%;
}

.slider-col3 {
  flex-basis: 20%;
  position: relative;
}
  
  .item-text {
    height: 20%;
  }
  
  
  
  .nav-logo img {
    width: 27px;
  height: 27px;
  }
}