/* 320 768 960 1280 1440 */

@media (min-width: 360px) {

  .dropdown {
    flex-grow: 3;
  }

  .breadcrumb {
    display: block;
    flex-grow: 10;
  }

  .cart {
    flex-grow: 5;
  }

  .phone {
    flex-grow: 0;
  }
  
}

@media (min-width: 450px) {
  
  .dropdown {
  flex-grow: 0.5;
  }

  .cart {
    flex-grow: 1;
  }

  .phone {
    flex-grow: 0;
  }
  
}

@media (min-width: 700px) {
  
  #hamburger,
  .breadcrumb {
    display: none;
  }
  
  #navigation {
    display: block;
  }
}