/* 320 768 960 1280 1440 */

@media (min-width: 360px) {

  .dropdown {
    flex-grow: 0;
    padding-right: 15px;
  }

  .breadcrumb {
    display: block;
    flex-grow: 10;
  }

  .cart {
    flex-grow: 5;
  }

  .phone {
    flex-grow: 0;
  }
  
}

@media (min-width: 450px) {
  
  .dropdown {
    flex-grow: 0;
    padding-right: 20px
  }

  .cart {
    flex-grow: 5;
  }

  .phone {
    flex-grow: 0;
  }
  
}

@media (min-width: 700px) {
  
  .js-media {
    display: inline; /* javascript mediaqueri breakpoint */
  }
  
  #hamburger,
  .breadcrumb {
    display: none;
    
  }
  
  #navigation {
    display: flex;
    align-items: center;
  }
  
  .dropdown {
    flex-grow: 5;
  }
  
}

@media (min-width: 850px) {
  
  
  
  .dropdown {
    flex-grow: 13;
  }
  
  .phone-time {
  display: inline;
    font-size: 0.75em;
    padding-right: 20px;
    align-self: center
}
  .phone-time {
  
  
}
  
}

@media (min-width: 1000px) {
  .nav-logo {
    display: block;
    padding-right: 20px;
    

  }
  
  .nav-logo img {
    width: 27px;
  height: 27px;
  }
}